!!! 5
%html
  %head
    %title= "#{@abstract_model.try(:pretty_name) || @page_name} | #{[_get_plugin_name[0] || 'Rails', _get_plugin_name[1] || 'Admin'].join(' ')}"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "NONE,NOARCHIVE", :name => "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css"
    = javascript_include_tag "rails_admin/rails_admin.js"
  %body.rails_admin{:style => "padding-top: 60px;"}
    .topbar-wrapper{:style => "z-index: 5;"}
      .topbar{:'data-dropdown' => 'dropdown'}
        .topbar-inner
          .container-fluid
            %h3
              = link_to dashboard_path do
                = _get_plugin_name[0] || 'Rails'
                %small= _get_plugin_name[1] || 'Admin'
            %ul.nav.secondary-nav= render :partial => 'layouts/rails_admin/secondary_navigation'
    .container-fluid
      .sidebar
        .well
          %h3= t "admin.dashboard.navigation"
          = render :partial => 'layouts/rails_admin/navigation'
      .content
        .page-header
          %h1= @page_name
        - flash && flash.each do |key, value|
          .alert-message.fade.in{:class => key}
            %a.close{:href => '#'}×
            %p= value
        = breadcrumb
        %ul.tabs
          = menu_for @abstract_model ? (@object.try(:id) ? :object : :model) : :root
          = content_for :contextual_tabs
        %span.row
        = yield
        %footer
          %p &copy; RailsAdmin 2011
