:ruby
  related_id = params[:associations] && params[:associations][field.name.to_s]
  config = field.associated_model_config
  source_abstract_model = RailsAdmin.config(form.object.class).abstract_model
  
  if form.object.new_record? && related_id.present? && related_id != 'new'
    selected = [config.abstract_model.get(related_id)]
  else
    selected = form.object.send(field.name)
  end
  selected_ids = selected.map(&:id)


  current_action = params[:action].in?(['create', 'new']) ? 'create' : 'update'

  edit_url = authorized?(:edit, config.abstract_model) ? edit_path(:model_name => config.abstract_model.to_param, :id => '__ID__') : ''

  xhr = !field.associated_collection_cache_all

  collection = if xhr
    selected.map { |o| [o.send(config.object_label_method), o.id] }
  else
    i = 0
    controller.list_entries(config, :index, field.associated_collection_scope, false).map { |o| [o.send(config.object_label_method), o.id] }.sort_by {|a| [selected_ids.index(a[1]) || selected_ids.size, i+=1] }
  end

%input{:name => form.dom_name(field), :type => "hidden", :value => ""}
= form.select field.method_name, collection, { :selected => selected_ids, :object => form.object }, field._html_attributes.merge({:'data-edit-url' => edit_url, :multiple => true})
- if authorized? :new, config.abstract_model
  - path_hash = { :model_name => config.abstract_model.to_param, :modal => true }
  - path_hash.merge!({ :associations => { field.inverse_of => (form.object.id || 'new') } }) if field.inverse_of
  = link_to wording_for(:link, :action => :new, :model_config => config), '#', :data => { :link => new_path(path_hash) }, :class => "create btn", :style => 'margin-left:10px'  
  
= form.javascript_for(field) do
  :plain
    $("#{form.jquery_namespace(field)} select").filteringMultiselect({
      xhr: #{xhr},
      createQuery: function(query) {
        return { query: query }
      },
      remote_source: "#{index_path(field.associated_model_config.abstract_model, :source_object_id => form.object.id, :source_abstract_model => source_abstract_model.to_param, :associated_collection => field.name, :current_action => current_action, :compact => true).html_safe}",
      sortable: #{field.orderable ? 'true' : 'false'},
      cacheAll: #{field.associated_collection_cache_all ? 'true' : 'false'},
      regional: {
        chooseAll: "#{t("admin.new.chose_all")}",
        chosen: "#{t("admin.new.chosen", :name => config.label_plural)}",
        clearAll:  "#{t("admin.new.clear_all")}",
        search: "#{t("admin.index.search")}",
        up: "#{t("admin.new.up")}",
        down: "#{t("admin.new.down")}"
      }
    });
    if($("#modal").length) { // hide link if we already are inside a dialog (endless issues on nested dialogs with JS)
      $("#{form.jquery_namespace(field)} .btn").remove();
    } else {
      $("#{form.jquery_namespace(field)}").remoteForm();
    }
